<form novalidate name="formularioReajuste" ng-submit="vm.salvarReajuste(formularioReajuste)" autocomplete="off"
    autocorrect="off" autocapitalize="off" spellcheck="false">

    <div class="modal-header">
        <h5 class="modal-title">ADICIONAR REAJUSTE</h5>
        <button type="button" class="close" ng-click="vm.fecharModalReajuste()">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body bg-white">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="dataInicial" class="obrigatorio">Data Inicial</label>
                    <input type="text" id="dataInicial" name="dataInicial" class="form-control"
                        ng-model="vm.modalReajuste.model.dataInicial" uib-datepicker-popup="dd/MM/yyyy"
                        datepicker-options="vm.optionsDatePicker" is-open="focus2" ng-focus="focus2=true"
                        ng-class="{'is-invalid': (formularioReajuste.dataInicial.$dirty && formularioReajuste.dataInicial.$invalid)}"
                        required>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="percentual" class="obrigatorio">Percentual de Reajuste</label>
                    <input type="text" id="percentual" name="percentual" class="form-control"
                        ng-model="vm.modalReajuste.model.percentual" placeholder="0.00 %"
                        ng-class="{'is-invalid': (formularioReajuste.percentual.$dirty && formularioReajuste.percentual.$invalid)}"
                        ui-percentage-mask="2" min="0.01" max="100" ui-percentage-value required>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-disabled="formularioReajuste.$invalid">Salvar</button>
    </div>

</form>