<form novalidate name="formularioCargo" ng-submit="vm.salvarCargo(formularioCargo)" autocomplete="off" autocorrect="off"
  autocapitalize="off" spellcheck="false">

  <div class="modal-header">
    <h5 class="modal-title">
      {{ vm.modalCargo.isEditar ? 'EDITAR EFETIVO' : 'ADICIONAR EFETIVO' }}
    </h5>
    <button type="button" class="close" ng-click="vm.fecharModalCargo()">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body bg-white">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="cargo" class="obrigatorio">Cargo</label>
          <ui-select ng-model="vm.modalCargo.model" theme="bootstrap" close-on-select="true"
            ng-disabled="vm.modalCargo.isEditar" ng-required="!vm.modalCargo.isEditar">
            <ui-select-match placeholder="Selecione um cargo">
              {{$select.selected.descricao}}
            </ui-select-match>
            <ui-select-choices repeat="c in vm.cargoList | filter: $select.search">
              <span class="mb-0 d-block" ng-bind-html="c.descricao | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="quantidade" class="obrigatorio">Quantidade</label>
          <input type="number" id="quantidade" name="quantidade" class="form-control"
            ng-class="{'is-invalid': (formularioCargo.quantidade.$dirty && formularioCargo.quantidade.$invalid)}"
            ng-model="vm.modalCargo.model.quantidade" min="1" step="1" pattern="\d*" required>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="valor" class="obrigatorio">Valor Mensal</label>
          <input type="text" id="valor" name="valor" class="form-control" ng-model="vm.modalCargo.model.valorMensal"
            placeholder="R$" ng-class="{'is-invalid': (formularioCargo.valor.$dirty && formularioCargo.valor.$invalid)}"
            ui-money-mask required>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success" ng-disabled="formularioCargo.$invalid">Salvar</button>
  </div>

</form>