<form novalidate name="formulario" ng-submit="vm.salvarValorBruto(formulario)" autocomplete="off" autocorrect="off"
  autocapitalize="off" spellcheck="false">

  <div class="modal-header">
    <h5 class="modal-title">ATUALIZAR VALOR BRUTO</h5>
    <button type="button" class="close" ng-click="vm.fecharModal()">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body bg-white">
    <div class="row">
      <div class="col-12">
        <h5 class="text-bold mb-0" ng-bind="vm.modal.model.unidadeEscolar.descricao"></h5>
        <small>
          {{vm.modal.model.unidadeEscolar.codigo}} -
          {{vm.modal.model.unidadeEscolar.tipo}}
        </small>
      </div>
      <div class="col-12 mt-3 text-left">
        <small>Valor Bruto:</small>
        <h5 class="text-bold mt-1" ng-bind="vm.modal.model.valorBruto | finance:true:2"></h5>
        <!-- <p class="h3 text-bold text-black" ng-bind="vm.modal.model.valorBruto | finance:true:2"></p> -->
      </div>
      <div class="col-12 mt-4">
        <div class="form-group">
          <label for="novoValorBruto" class="obrigatorio">Novo Valor</label>
          <input type="text" id="novoValorBruto" name="novoValorBruto" class="form-control"
            ng-model="vm.modal.model.novoValorBruto" placeholder="R$"
            ng-class="{'is-invalid': (formulario.novoValorBruto.$dirty && formulario.novoValorBruto.$invalid)}"
            ui-money-mask required>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success" ng-disabled="formulario.$invalid">Salvar</button>
  </div>

</form>