<div class="card" id="to-export">
  <div class="card-body">

    <h4 class="card-title">
      BOLETIM DE MEDIÇÃO POR CONTRATO
      <div class="text-right">

        <button type="button" class="btn btn-icons btn-inverse-success d-print-none" title="Adicionar UE"
          ng-click="vm.abrirModalUE()">
          <i class="icon-plus"></i>
        </button>

        <button type="button" class="btn btn-icons btn-inverse-info d-print-none" title="Atualizar Valores"
          ng-click="vm.irParaImportacaoValores()">
          <i class="icon-calculator"></i>
        </button>

        <button type="button" class="btn btn-icons btn-inverse-warning d-print-none" title="Exportar CSV"
          ng-click="vm.exportar()">
          <i class="icon-cloud-download"></i>
        </button>

        <button type="button" class="btn btn-icons btn-inverse-secondary d-print-none" title="Imprimir"
          onclick="window.print();">
          <i class="icon-printer"></i>
        </button>

      </div>
    </h4>

    <div class="row print-card-header">
      <div class="col mb-3 stretch-card">
        <div class="card">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <p class="mb-1">
                <span class="h4 mb-0 mr-2 font-weight-bold">
                  {{vm.dados.mes}}/{{vm.dados.ano}}
                </span>
              </p>
              <p class="mb-0 text-muted font-weight-light">Referência</p>
            </div>
            <div>
              <span class="badge badge-warning mt-3" ng-if="!vm.dados.flagAprovadoFiscal">Aguardando Fiscal</span>
              <span class="badge badge-danger mt-3"
                ng-if="vm.dados.flagAprovadoFiscal && !vm.dados.flagAprovadoDre">Aguardando DRE</span>
              <span class="badge badge-success mt-3" ng-if="vm.dados.flagAprovadoDre">Aprovado</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-3 stretch-card">
        <div class="card">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <p class="mb-1">
                <span class="h4 mb-0 mr-2 font-weight-bold" ng-bind="vm.dados.contrato.codigo"></span>
              </p>
              <p class="mb-0 text-muted font-weight-light">Contrato</p>
            </div>
            <div>
              <span class="badge badge-light text-dark mt-3">
                {{ vm.dados.contrato.numeroPregao || ' - ' }}
              </span>
              <span class="badge badge-light text-dark mt-3">
                {{ vm.dados.contrato.nomeLote || ' - ' }}
              </span><br>
            </div>
          </div>
        </div>
      </div>

      <div class="col mb-3 stretch-card">
        <div class="card">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <p class="mb-1"><span class="h4 mb-0 mr-2 font-weight-bold"
                  ng-bind="vm.dados.prestadorServico.razaoSocial"></span></p>
              <p class="mb-0 text-muted font-weight-light">Prestador de Serviço</p>
            </div>
            <div class="d-inline-flex">
              <span class="badge badge-light text-dark mt-3 mr-2">CNPJ: {{vm.dados.prestadorServico.cnpj |
                brCnpj}}</span><br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col mb-3 stretch-card">
        <div class="card">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <p class="mb-1">
                <span class="h4 mb-0 mr-2 font-weight-bold">Profissionais Faltantes</span>
              </p>
              <p class="mb-0 text-muted font-weight-light">Total:</p>
            </div>
            <div class="d-inline-flex">
              <span class="text-dark mt-1 mr-1">
                {{ vm.dados.totalFaltasFuncionarios }}
              </span>
              <button type="button"
                class="btn btn-outline-primary btn-sm d-flex align-items-center justify-content-center"
                style="margin-left: auto; width: 32px; height: 32px;" title="Visualizar"
                ng-click="vm.abrirModalProfissionaisFaltantes(vm.dados.totalEquipe)">
                <i class="icon-info m-0"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-3 stretch-card"></div>
      <div class="col mb-3 stretch-card"></div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-body d-flex flex-column justify-content-between p-0">
            <p class="p-4 m-0 h4 uppercase text-bold text-white bg-primary">Resumo das Medições</p>
            <table class="table">
              <thead>
                <tr class="bg-light">
                  <th style="width: 25%">Unidade Escolar</th>
                  <th style="width: 7%">Situação</th>
                  <!-- <th>Nome do Fiscal</th> -->
                  <th class="text-right">Valor Bruto</th>
                  <th class="text-right">% IMR</th>
                  <th class="text-right">Glosa IMR</th>
                  <th class="text-right" ng-if="vm.dados.contrato.modelo === '2'">Glosa RH</th>
                  <th class="text-right">Valor Líquido</th>
                  <th class="text-right d-print-none">Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="rg in vm.dados.relatorioList">
                  <td>
                    <h5 ng-bind="rg.unidadeEscolar.descricao"></h5>
                    <small>{{rg.unidadeEscolar.codigo}} - {{rg.unidadeEscolar.tipo}}</small>
                  </td>
                  <td>
                    <span class="badge badge-warning" ng-if="!rg.flagAprovadoFiscal">Aguardando Fiscal</span>
                    <span class="badge badge-info" ng-if="rg.flagAprovadoFiscal && !rg.flagAprovadoDre">Aguardando
                      DRE</span>
                    <span class="badge badge-success" ng-if="rg.flagAprovadoDre">Aprovado</span>
                  </td>
                  <!-- <td ng-bind="rg.nomeFiscalAprovacao || '-'"></td> -->
                  <td class="text-right" ng-bind="rg.valorBruto | finance:true:2"></td>
                  <td class="text-right" ng-bind="vm.formatarPercentual(rg.fatorDesconto)"></td>
                  <td class="text-right" ng-bind="rg.valorDesconto | finance:true:2"></td>
                  <td class="text-right" ng-if="vm.dados.contrato.modelo === '2'"
                    ng-bind="rg.descontoGlosaRh | finance:true:2"></td>
                  <td class="text-right" ng-bind="rg.valorLiquido | finance:true:2"></td>
                  <td class="text-right d-print-none">
                    <button class="btn btn-outline-info btn-sm" ng-if="usuario.usuarioOrigem.codigo === 'sme'"
                      ng-click="vm.abrirModalValorBruto(rg)">
                      <i class="icon-calculator"></i>
                    </button>
                    <button class="btn btn-outline-danger btn-sm" ng-if="usuario.usuarioOrigem.codigo === 'sme'"
                      ng-click="vm.removerRelatorioGerencial(rg)">
                      <i class="icon-trash"></i>
                    </button>
                    <a class="btn btn-outline-primary btn-sm"
                      href="relatorio/gerencial/detalhe/{{rg.idRelatorioGerencial}}" target="_blank">
                      <i class="icon-eye"></i>
                    </a>
                    <button class="btn btn-outline-primary btn-sm"
                      ng-click="vm.abrirModalProfissionaisFaltantes(rg.quantidadeEquipeTotal)">
                      <i class="icon-info"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5 w-100">
      <h4 class="text-right mb-4">Valor do Contrato: {{ vm.dados.valorBruto | finance:true:2 }}</h4>
      <h4 class="text-right mb-4">Glosa IMR: {{ vm.dados.valorDesconto | finance:true:2 }}</h4>
      <h4 class="text-right mb-4" ng-if="vm.dados.contrato.modelo === '2'">Glosa RH: {{ vm.dados.valorDescontoGlosaRh |
        finance:true:2 }}</h4>
      <h3 class="text-right text-bold mb-4">Total: {{ vm.dados.valorLiquido | finance:true:2 }}</h3>
    </div>

  </div>

</div>