<!-- relatorio-contrato-detalhe-profissionais-faltantes.html -->
<div class="modal-header p-0">
    <div class="w-100">
        <p class="p-4 m-0 h4 uppercase text-bold text-white bg-dark">
            Consolidado Glosa RH
        </p>
    </div>
    <button type="button" class="close position-absolute" style="right: 1rem; top: 1rem;" ng-click="vm.fecharModal()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body p-0">
    <div class="tb-responsive">
        <table class="table mb-0">
            <thead>
                <tr class="bg-light text-center">
                    <th class="text-left border-right">Cargo</th>
                    <th class="border-right" style="width: 15%">Valor Mensal</th>
                    <th class="border-right" style="width: 15%">Quantidade Ausente</th>
                    <th style="width: 15%">Valor Desconto</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" ng-repeat="c in vm.modal.lista">
                    <td class="text-left border-right" ng-bind="c.descricao"></td>
                    <td class="border-right" ng-bind="c.valorMensal | finance:true:2"></td>
                    <td class="border-right" ng-bind="c.quantidadeAusente"></td>
                    <td
                        ng-bind="(c.valorDesconto != null ? c.valorDesconto : (c.quantidadeAusente * (c.valorMensal / 21.74))) | finance:true:2">
                    </td>
                </tr>

                <tr class="text-center bg-light" ng-if="vm.modal.lista && vm.modal.lista.length > 0">
                    <td colspan="3" class="text-right font-weight-bold">Total</td>
                    <td class="font-weight-bold" ng-bind="vm.modal.totalDesconto | finance:true:2"></td>
                </tr>

                <tr class="text-center" ng-if="!vm.modal.lista || vm.modal.lista.length === 0">
                    <td class="text-left border-right"> - </td>
                    <td class="border-right"> - </td>
                    <td class="border-right"> - </td>
                    <td> - </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="px-2 py-3">
        <small>
            <strong>Desconto = </strong>
            Qtd. Ausente × (Valor Mensal / 21.74)
        </small>
    </div>
</div>

<div class="modal-footer p-2">
    <button class="btn btn-secondary" type="button" ng-click="vm.fecharModal()">Fechar</button>
</div>