<div class="modal-header">
    <h5 class="modal-title">HISTÓRICO DE STATUS DA UNIDADE ESCOLAR:  {{vm.nomeUE}}</h5>
    <button type="button" class="close" ng-click="vm.fecharModalHistoricoStatusUE()">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-responsive" id="historicoStatusUE">
                            <thead>
                                <tr>
                                    <th>DATA E HORA DA ALTERAÇÃO</th>
                                    <th>STATUS ANTIGO</th>
                                    <th>STATUS NOVO</th>
                                    <th>MOTIVO</th>
                                    <th>USUÁRIO RESPONSÁVEL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="st in vm.historicoStatusUEList"> <!-- contrato in vm.modal.contratoList -->
                                    <td><h5 class="font-weight-light" ng-bind="vm.retornaDataFormatada(st.dataHora)"></h5></td>
                                    <td><h5 class="font-weight-light" ng-bind="st.statusAntigo"></h5></td>
                                    <td><h5 class="font-weight-light" ng-bind="st.statusNovo"></h5></td>
                                    <td><h5 class="font-weight-light" ng-bind="st.motivo"></h5></td>
                                    <td><h5 class="font-weight-light" ng-bind="st.usuario"></h5></td>
                                </tr>
                                <tr ng-if="vm.historicoStatusUEList.length == 0">
                                    <td colspan="5" class="text-center py-4 text-primary">
                                        <h5>Nenhum resultado encontrado.</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>