<div class="card" id="to-export">
  <div class="card-body">

    <h4 class="card-title">
      RELATÓRIO DE PONTUAÇÕES POR CONTRATO
      <div class="text-right">
        <button type="button" class="btn btn-outline-info d-print-none" ng-click="vm.exportar()">
          <i class="icon-cloud-download mr-1"></i>Exportar CSV
        </button>
      </div>
    </h4>

    <uib-accordion class="accordion accordion-solid-header accordion-custom">
      <div uib-accordion-group is-open="vm.isFilterOpen">
        <uib-accordion-heading>
          Filtros de busca
        </uib-accordion-heading>
        <form novalidate autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 my-2" ng-if="usuario.usuarioOrigem.codigo === 'sme'">
              <div class="form-control">
                <label for="anoReferencia" class="dois-pontos">Ano de Referência</label>
                <ui-select ng-model="vm.filtros.anoReferencia" multiple>
                  <ui-select-match allow-clear="true" placeholder="Todos">{{$item}}</ui-select-match>
                  <ui-select-choices repeat="ano in vm.anosReferencia | filter: $select.search">
                    <span ng-bind-html="ano | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <button type="button" class="btn btn-primary" ng-click="vm.recarregarDados()">Filtrar</button>
            </div>
          </div>
        </form>
      </div>
    </uib-accordion>

    <div class="row print-card-header">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <p class="mb-1">
                <span class="h4 mb-0 mr-2" ng-bind="vm.dados.contrato.codigo"></span>
              </p>
              <p class="mb-0 text-muted font-weight-light">Contrato</p>
            </div>
            <div>
              <span class="badge badge-success mt-3">
                {{ vm.dados.contrato.numeroPregao || ' - ' }}
              </span>
              <span class="badge badge-success mt-3">
                {{ vm.dados.contrato.nomeLote || ' - ' }}
              </span><br>
            </div>
          </div>
        </div>
      </div>

      <div class="col mb-3">
        <div class="card">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <p class="mb-1"><span class="h4 mb-0 mr-2" ng-bind="vm.dados.prestadorServico.razaoSocial"></span></p>
              <p class="mb-0 text-muted font-weight-light">Prestador de Serviço</p>
            </div>
            <div class="d-inline-flex">
              <span class="badge badge-success mt-3 mr-2">CNPJ: {{vm.dados.prestadorServico.cnpj |
                brCnpj}}</span><br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-body d-flex flex-column justify-content-between p-0">
            <p class="p-4 m-0 h4 uppercase text-bold text-white bg-primary">Pontuações por Unidade Escolar
            </p>
            <table class="table" ng-class="{'table-horizontal-scroll': vm.dados.anoMesList.length > 6}">
              <thead>
                <tr class="bg-light">
                  <th style="width: 30%; min-width: 250px;">Unidade Escolar</th>
                  <th class="text-right" ng-repeat="v in vm.dados.anoMesList">{{v}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="v in vm.dados.unidadeEscolarList track by $index">
                  <td>
                    <h5 ng-bind="v.unidadeEscolar.descricao"></h5>
                    <small>{{v.unidadeEscolar.codigo}} - {{v.unidadeEscolar.tipo}}</small>
                  </td>
                  <td class="text-right" ng-repeat="pontos in v.pontoList">
                    {{pontos || ' - '}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>