<form novalidate name="formulario" ng-submit="vm.salvar(formulario)" autocomplete="off" autocorrect="off"
  autocapitalize="off" spellcheck="false">

  <div class="modal-header">
    <h5 class="modal-title">CADASTRAR OCORRÊNCIA</h5>
    <button type="button" class="close" ng-click="vm.fecharModal()">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body pt-3">

    <div class="row">

      <div class="col-lg-6 col-sm-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Não conformidade</h4>
            <p class="text-muted font-weight-light">Descreva os detalhes da não conformidade.</p>

            <div class="row">
              <div class="col-lg-3 col-md-5 col-sm-12">
                <div class="form-group">
                  <label for="data" class="obrigatorio">Data da Ocorrência</label>
                  <input type="text" id="data" name="data" class="form-control" ng-model="vm.model.data"
                    uib-datepicker-popup="dd/MM/yyyy" datepicker-options="vm.optionsDatePicker" is-open="focus1"
                    ng-focus="focus1=true" ng-change="vm.evtChangeData()"
                    ng-class="{'is-invalid': (formulario.data.$dirty && formulario.data.$invalid)}" required>

                </div>

              </div>
              <div class="col-lg-3 col-md-5 col-sm-12">
                <div class="form-group">
                  <label for="data" class="obrigatorio">Hora da Ocorrência</label>
                  <div uib-timepicker ng-model="vm.model.data" show-meridian="false" show-spinners="false"
                    ng-change="vm.evtChangeTime()"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="nc1" class="obrigatorio">Classificação</label>
                  <select class="form-control" id="nc1" name="nc1" ng-model="vm.model.idOcorrenciaVariavel"
                    ng-options="ov.id as ov.descricao for ov in vm.ocorrenciaVariavelList"
                    ng-change="vm.evtChangeOcorrenciaVariavel()"
                    ng-class="{'is-invalid': (formulario.ov.$dirty && formulario.ov.$invalid)}" required>
                    <option value="" disabled>Selecione</option>
                  </select>
                </div>

              </div>

            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="observacao" class="dois-pontos obrigatorio">Observação</label>
                  <textarea id="observacao" name="observacao" class="form-control" rows="5"
                    ng-model="vm.model.observacao" required></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-check">
                  <label for="flagAcaoImediata" class="form-check-label">
                    <input type="checkbox" id="flagAcaoImediata" name="flagAcaoImediata" class="form-check-input"
                      ng-change="vm.evtChangeFlagAcaoImediata()" ng-model="vm.model.flagAcaoImediata">
                    Exigir ação imediata
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
            </div>

            <div class="row mt-2" ng-if="vm.model.flagAcaoImediata">
              <div class="col-12">
                <div class="form-group">
                  <label for="acaoCorretiva" class="dois-pontos obrigatorio">Ação corretiva</label>
                  <textarea id="acaoCorretiva" name="acaoCorretiva" class="form-control" rows="5"
                    ng-model="vm.model.acaoCorretiva" required></textarea>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Arquivos</h4>
            <p class="text-muted font-weight-light">Anexe imagens que comprovem a não conformidade.</p>
            <div class="row mt-4">
              <div class="col-12">
                <div class="btn btn-primary image-preview-input">
                  <span class="icon-folder-alt"></span>
                  <span class="image-preview-input-title">Selecionar Arquivo</span>
                  <input class="uploader" type="file" ng-model="vm.model.arquivoList" accept="image/jpeg,image/png"
                    onloadstart="vm.evtUploadStart" onerror="vm.evtErroUpload" multiple base-sixty-four-input>
                </div>
              </div>
            </div>
            <div class="mt-4" ng-if="vm.model.arquivoList.length > 0">
              <div class="d-flex align-items-center py-3 border-bottom" ng-repeat="arquivo in vm.model.arquivoList">
                <img class="img-sm rounded-circle" src="data:image/jpg;base64,{{arquivo.base64}}">
                <div class="ml-3">
                  <h6 class="mb-1" ng-bind="arquivo.filename"></h6>
                  <small class="text-muted mb-0"><i class="icon-location-pin-outline mr-1"></i>{{ arquivo.filesize /
                    1000 }} KB</small>
                </div>
                <i class="icon-picture font-weight-bold ml-auto px-1 py-1 text-info pointer"
                  ng-click="vm.expandirImagem($index)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row" ng-if="vm.mostrarFormEquipe">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body p-0">
            <h4 class="card-title ml-4 mt-4">Funcionários</h4>
            <p class="text-muted font-weight-light ml-4 mt-2">Informe os detalhes da equipe alocada.</p>
            <div class="tb-responsive mt-4">
              <p class="card-description text-center text-danger p-4 pt-5"
                ng-if="!vm.model.equipeList || vm.model.equipeList.length === 0">
                Nenhum cargo cadastrado para o contrato vigente.
              </p>
              <table class="table" ng-if="vm.model.equipeList.length > 0">
                <thead>
                  <tr class="bg-light text-center">
                    <th class="text-left pl-4" style="width: 70%">Cargo</th>
                    <th class="text-left" style="width: 15%">Quantidade Contratada</th>
                    <th class="text-right pr-4" style="width: 15%">Quantidade Ausente</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center" ng-repeat="e in vm.model.equipeList">
                    <td class="text-left pl-4" ng-bind="e.descricao"></td>
                    <td class="text-left" ng-bind="e.quantidade"></td>
                    <td class="text-right pr-4">
                      <input type="number" id="presente-{{$index}}" name="presente-{{$index}}"
                        class="form-control form-control-lg text-right text-bold" ng-model="e.quantidadeAusente" min="0"
                        step="1" max="{{e.quantidade}}" pattern="\d*" required>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success" ng-disabled="!vm.verificarFormulario(formulario)">Salvar</button>
  </div>

</form>