<form novalidate name="formulario" ng-submit="vm.salvar(formulario)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">

    <div class="modal-header">
        <h5 class="modal-title" ng-if="vm.modal.isEditar">EDITAR AMBIENTE DA UNIDADE ESCOLAR</h5>
        <h5 class="modal-title" ng-if="!vm.modal.isEditar">CADASTRAR AMBIENTE DA UNIDADE ESCOLAR</h5>
        <button type="button" class="close" ng-click="vm.fecharModal()">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body bg-white">
        <div class="row">
            <div class="col-12" ng-if="usuario.usuarioOrigem.codigo == 'sme'" ng-show="!vm.modal.isEditar">
                <div class="form-group">
                    <label for="ue" class="obrigatorio">Unidade Escolar</label>
                    <ui-select id="ue" ng-model="vm.modal.model.unidadeEscolar" required>
                        <ui-select-match allow-clear="true" placeholder="Selecionar">
                            {{$select.selected.codigo}} - {{$select.selected.descricao}}
                        </ui-select-match>
                        <ui-select-choices repeat="ue in vm.unidadeEscolarList | filter: $select.search">
                            <span class="mb-0 d-block" ng-bind-html="ue.descricao | highlight: $select.search"></span>
                            <small class="my-2" ng-bind-html="ue.codigo | highlight: $select.search"></small>
                            <small class="my-2"> - </small>
                            <small class="my-2" ng-bind-html="ue.tipo | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="ambienteGeral" class="obrigatorio">Ambiente Geral</label>
                    <select class="form-control" id="ambienteGeral" name="ambienteGeral" ng-model="vm.modal.model.idAmbienteGeral" 
                        ng-options="ambienteGeral.id as ambienteGeral.descricao for ambienteGeral in vm.ambienteGeralList"
                        ng-disabled="usuario.usuarioOrigem.codigo != 'sme' && vm.modal.isEditar" ng-change="vm.evtChangeAmbienteGeral()" 
                        ng-class="{'is-invalid': (formulario.ambienteGeral.$dirty && formulario.ambienteGeral.$invalid)}" required>
                        <option value="" disabled>Selecione</option>
                    </select>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="descricao" class="obrigatorio">Nome do Ambiente</label>
                    <input type="text" id="descricao" name="descricao" class="form-control" ng-model="vm.modal.model.descricao" 
                        ng-class="{'is-invalid': (formulario.descricao.$dirty && formulario.descricao.$invalid)}" required>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="tipoAmbiente" class="obrigatorio">Tipo de Ambiente</label>
                    <input type="text" id="tipoAmbiente" name="tipoAmbiente" class="form-control" ng-model="vm.modal.model.tipoAmbiente"
                        ng-class="{'is-invalid': (formulario.tipoAmbiente.$dirty && formulario.tipoAmbiente.$invalid)}" required disabled>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-disabled="formulario.$invalid">Salvar</button>
    </div>

</form>