<div class="card">
  <div class="card-body p-0">

    <h4 class="card-title m-4">USUÁRIOS
      <div class="text-right">
        <button type="button" class="btn btn-outline-primary btn-sm" ng-click="vm.irParaImportacao()"
          ng-if="usuario.usuarioOrigem.codigo !== 'ps'">
          Importar
          <i class="icon-cloud-upload ml-1"></i>
        </button>
        <button type="button" class="btn btn-success btn-sm" ng-click="vm.abrirModal()">
          Adicionar
          <i class="icon-plus ml-1"></i>
        </button>
      </div>
    </h4>

    <uib-accordion class="accordion accordion-solid-header accordion-custom">
      <div uib-accordion-group is-open="vm.isFilterOpen">
        <uib-accordion-heading>
          Filtros de busca
        </uib-accordion-heading>
        <form name="formFiltro" novalidate autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 my-2">
              <div class="form-control">
                <label class="dois-pontos" for="nome">Nome</label>
                <input type="text" class="form-control lh-18" id="nome" placeholder="Digite aqui o nome do usuário"
                  ng-model="vm.filtros.nome">
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 my-2">
              <div class="form-control">
                <label class="dois-pontos" for="email">E-mail</label>
                <input type="email" class="form-control lh-18" id="email" placeholder="Digite aqui o email do usuário"
                  ng-model="vm.filtros.email">
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 my-2"
              ng-show="usuario.usuarioOrigem.codigo != 'ue' && usuario.usuarioOrigem.codigo != 'ps'">
              <div class="form-control">
                <label class="dois-pontos" for="origem">Origem</label>
                <select class="form-control" id="origem" ng-model="vm.filtros.idUsuarioOrigem"
                  ng-change="vm.evtChangeUsuarioOrigem(true)"
                  ng-options="origem.id as origem.descricao for origem in vm.usuarioOrigemList">
                  <option value="" selected>Todos</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 my-2"
              ng-if="vm.filtros.idUsuarioOrigem && vm.origemSelecionada.codigo == 'ue'">
              <div class="form-control">
                <label class="dois-pontos" for="cargo">Cargo</label>
                <select class="form-control" id="cargo" ng-model="vm.filtros.idUsuarioCargo"
                  ng-options="cargo.id as cargo.descricao for cargo in vm.usuarioCargoList"
                  ng-disabled="!vm.filtros.idUsuarioOrigem">
                  <option value="" selected>Todos</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 my-2"
              ng-if="vm.filtros.idUsuarioOrigem && vm.origemSelecionada.codigo != 'sme' && usuario.usuarioOrigem.codigo != 'ue' && usuario.usuarioOrigem.codigo != 'ps'">
              <div class="form-control">
                <label class="dois-pontos" for="origemDetalhe" ng-bind="vm.origemSelecionada.descricao"></label>
                <ui-select id="origemDetalhe" ng-model="vm.filtros.idOrigemDetalhe">
                  <ui-select-match allow-clear="true" placeholder="Todos">
                    {{vm.origemSelecionada.codigo == 'ue' ? ($select.selected.codigo + ' - ') :
                    ''}}{{$select.selected.descricao}}
                  </ui-select-match>
                  <ui-select-choices repeat="origemDetalhe in vm.origemDetalheList | filter: $select.search">
                    <span class="mb-0 d-block"
                      ng-bind-html="origemDetalhe.descricao | highlight: $select.search"></span>
                    <small ng-if="vm.origemSelecionada.codigo != 'dre'" class="my-2">{{vm.origemSelecionada.codigo ==
                      'ps' ? 'CNPJ:' : ''}}</small>
                    <small ng-if="vm.origemSelecionada.codigo != 'dre'" class="my-2"
                      ng-bind-html="(vm.origemSelecionada.codigo == 'ps' ? (origemDetalhe.cnpj | brCnpj) : (origemDetalhe.codigo + ' - ' + origemDetalhe.tipo)) | highlight: $select.search"></small>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-4">
              <button type="button" class="btn btn-primary" ng-disabled="formFiltro.$invalid"
                ng-click="vm.recarregarTabela()">Filtrar</button>
            </div>
          </div>
        </form>
      </div>
    </uib-accordion>

    <hr>

    <div class="row">
      <div class="col-12">
        <lista></lista>
      </div>
    </div>
  </div>
</div>