<div class="card">
  <div class="card-body">

    <h4 class="card-title">IMPORTAÇÃO DE AMBIENTES DE UNIDADES ESCOLARES</h4>

    <div class="card mt-4">
      <div class="card-body">
        <h4 class="card-title">Arquivo de Dados</h4>
        <p class="card-description">
          Certifique-se que seu arquivo possua a estrutura de dados necessária para a importação e o carregue
          abaixo para importar os ambientes das unidades escolares.
        </p>

        <div class="row mb-4">
          <div class="col-6">
            <ul class="list-ticked">
              <li>Formato: CSV</li>
              <li>Cabeçalho: descricao;ambiente_geral_descricao;codigo_ue;tipo;area</li>
              <li>Obrigatoriedade: Todos</li>
              <li>Separador: ponto e vírgula (;)</li>
              <li>Linha Zero: Cabeçalho</li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="list-ticked">
              <li>Case Sensitive: Sim</li>
              <li>A descrição do Ambiente geral deve ser <strong>exatamente igual</strong> a cadastrada no
                sistema.</li>
              <li>O código da Unidade Escolar deve ser <strong>exatamente igual</strong> ao cadastrado no
                sistema.</li>
              <li>O valor da área deve utilizar ponto como separador decimal.</li>
              <li>Tipo: 'I' para interno e 'E' para externo</li>
            </ul>
          </div>
        </div>

        <botao-upload-arquivo id="upload" uploader="vm.uploader"
          ng-if="vm.uploadUtils && !vm.listaImportacao.length > 0"></botao-upload-arquivo>

      </div>
    </div>

    <div class="card mt-4" ng-if="vm.listaImportacao.length > 0">
      <div class="card-body p-0">
        <h4 class="card-title mx-4 mt-4 mb-2">Resumo da Importação</h4>
        <p class="card-description mx-4 mt-0">Verifique abaixo o resultado da importação de cada registro do
          arquivo carregado.</p>
        <table class="table table-striped">
          <thead>
            <th>Linha</th>
            <th>Resultado</th>
            <th>Identificação do Ambiente</th>
            <th>Tipo</th>
            <th>Área</th>
            <th>Unidade Escolar</th>
          </thead>
          <tbody>
            <tr ng-repeat="aue in vm.listaImportacao track by $index">
              <td>{{($index+1) | zpad: vm.listaImportacao.length.toString().length}}</td>
              <td class="uppercase text-{{aue.classeResultado}}" style="font-weight: 600;">
                {{aue.mensagemResultado}}</td>
              <td>
                <p class="mb-2" ng-bind="aue.descricao || ' - '"></p>
                <p class="mb-0 text-muted text-small">Geral: {{aue.ambienteGeral.descricao}}</p>
              </td>
              <td ng-bind="aue.tipoAmbiente.descricao"></td>
              <td ng-bind="aue.area | finance:false:2"></td>
              <td>
                <p class="mb-2" ng-bind="aue.unidadeEscolar.descricao"></p>
                <p class="mb-0 text-muted text-small">Código: {{aue.unidadeEscolar.codigo}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>