<div class="modal-header">
  <h5 class="modal-title" ng-bind="vm.modalAvaliacao.variavel.descricao"></h5>
  <button type="button" class="close" ng-click="vm.fecharModalAvaliacao()">
    <span aria-hidden="true">×</span>
  </button>
</div>

<div class="modal-body">

  <div class="row">

    <div class="col-4 stretch-card">
      <div class="card">
        <div class="card-body p-4 d-flex flex-column align-items-center">
          <i class="icon-check text-success" style="font-size: 2.5rem"></i>
          <p class="mt-3 text-center" ng-bind="vm.modalAvaliacao.variavel.descricaoConforme"></p>
        </div>
        <button type="submit" class="btn btn-success btn-flat btn-lg btn-block font-weight-bold text-uppercase"
          ng-click="vm.avaliar(1)"
          ng-disabled="usuario.usuarioOrigem.codigo !== 'sme' && vm.modalAvaliacao.model.quantidadeOcorrencias > 0">
          Conforme
        </button>
      </div>
    </div>

    <div class="col-4 stretch-card">
      <div class="card">
        <div class="card-body p-4 d-flex flex-column align-items-center">
          <i class="icon-exclamation text-warning" style="font-size: 2.5rem"></i>
          <p class="mt-3 text-center" ng-bind="vm.modalAvaliacao.variavel.descricaoConformeComRessalva"></p>
        </div>
        <button class="btn btn-warning btn-flat btn-lg btn-block font-weight-bold text-uppercase"
          ng-click="vm.avaliar(2)"
          ng-disabled="usuario.usuarioOrigem.codigo !== 'sme' && vm.modalAvaliacao.model.quantidadeOcorrencias !== 1">
          Conforme com ressalva
        </button>
      </div>
    </div>

    <div class="col-4 stretch-card">
      <div class="card">
        <div class="card-body p-4 d-flex flex-column align-items-center">
          <i class="icon-close text-danger" style="font-size: 2.5rem"></i>
          <p class="mt-3 text-center" ng-bind="vm.modalAvaliacao.variavel.descricaoNaoConforme"></p>
        </div>
        <button class="btn btn-danger btn-flat btn-lg btn-block font-weight-bold text-uppercase"
          ng-click="vm.avaliar(3)"
          ng-disabled="usuario.usuarioOrigem.codigo !== 'sme' && !(vm.modalAvaliacao.model.quantidadeOcorrencias >= 2)">
          Não Conforme
        </button>
      </div>
    </div>

  </div>

</div>