<div class="card">
    <div class="card-body p-0">

        <h4 class="card-title m-4" ng-if="!vm.isMobile">MONITORAMENTOS
            <div class="text-right">
                <button type="button"
                    ng-if="usuario.usuarioOrigem.codigo == 'dre' || usuario.usuarioOrigem.codigo == 'ue'"
                    class="btn btn-success btn-sm" ng-click="vm.abrirModalAgendamento()">
                    Agendamento Manual
                    <i class="icon-plus ml-1"></i>
                </button>
            </div>
        </h4>

        <div class="row text-center mt-4" ng-if="usuario.flagFiscal && vm.isMobile">
            <div class="col-12">
                <button type="button" class="btn btn-danger" ng-click="vm.abrirModalLeituraQrCode()">
                    Identificar Ambiente <br>
                    por QR Code
                </button>
            </div>
        </div>
        <uib-accordion class="accordion accordion-solid-header accordion-custom">
            <div uib-accordion-group is-open="vm.isFilterOpen">
                <uib-accordion-heading>
                    Filtros de busca
                </uib-accordion-heading>
                <form novalidate autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-3 my-2">
                            <div class="form-control">
                                <label for="datas" class="dois-pontos">Datas</label>
                                <input id="datas" type="text" class="form-control lh-18" multiple-flatpickr
                                    ng-model="vm.filtros.datasSelecionadas"
                                    fp-options="{ mode: 'multiple', maxDate: 'today', dateFormat: 'd/m/Y' }"
                                    placeholder="Selecione múltiplas datas" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 my-2" ng-if="usuario.usuarioOrigem.codigo == 'ue'">
                            <div class="form-control">
                                <label for="ambiente-ue" class="dois-pontos">Ambiente</label>
                                <select class="form-control" id="ambiente-ue"
                                    ng-model="vm.filtros.idAmbienteUnidadeEscolar"
                                    ng-options="aue.id as aue.descricao for aue in vm.ambienteUnidadeEscolarList">
                                    <option value="" selected>Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 my-2" ng-if="usuario.usuarioOrigem.codigo != 'ue'">
                            <div class="form-control">
                                <label for="ue" class="dois-pontos">Unidade Escolar</label>
                                <ui-select id="ue" ng-model="vm.filtros.unidadeEscolar">
                                    <ui-select-match allow-clear="true" placeholder="Todos">
                                        {{$select.selected.codigo}} - {{$select.selected.descricao}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="ue in vm.unidadeEscolarList | filter: $select.search">
                                        <span class="mb-0 d-block"
                                            ng-bind-html="ue.descricao | highlight: $select.search"></span>
                                        <small class="my-2"
                                            ng-bind-html="ue.codigo | highlight: $select.search"></small>
                                        <small class="my-2"> - </small>
                                        <small class="my-2" ng-bind-html="ue.tipo | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3 my-2" ng-if="usuario.usuarioOrigem.codigo != 'ps'">
                            <div class="form-control">
                                <label for="ps" class="dois-pontos">Prestador de Serviço</label>
                                <ui-select id="ps" ng-model="vm.filtros.prestadorServico">
                                    <ui-select-match allow-clear="true"
                                        placeholder="Todos">{{$select.selected.descricao}}</ui-select-match>
                                    <ui-select-choices repeat="ps in vm.prestadorServicoList | filter: $select.search">
                                        <span class="mb-0 d-block"
                                            ng-bind-html="ps.razaoSocial | highlight: $select.search"></span>
                                        <small class="my-2">CNPJ:</small>
                                        <small class="my-2"
                                            ng-bind-html="(ps.cnpj | brCnpj) | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-3 my-2" ng-if="usuario.usuarioOrigem.codigo != 'ps'">
                            <div class="form-control">
                                <label for="contrato" class="dois-pontos">Contrato</label>
                                <ui-select id="contrato" ng-model="vm.filtros.contrato">
                                    <ui-select-match allow-clear="true" placeholder="Todos">
                                        {{$select.selected.codigo}} - {{$select.selected.descricao}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="contrato in vm.contratoLista | filter: $select.search">
                                        <span class="mb-0 d-block"
                                            ng-bind-html="contrato.descricao | highlight: $select.search"></span>
                                        <small class="my-2">Código:</small>
                                        <small class="my-2"
                                            ng-bind-html="contrato.codigo | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <button type="button" class="btn btn-primary"
                                ng-click="vm.recarregarTabela()">Filtrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </uib-accordion>

        <hr>

        <div class="row">
            <div class="col-12">
                <lista></lista>
            </div>
        </div>

    </div>
</div>